﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TECHISLAND POWERFORM RAFFLE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")

</head>
<body ng-app="techIslandPFRaffle">
    <h1 style="text-align: center; font-size: 60px; color: #428BCA; font-weight: bold">@ViewBag.Title</h1>
    <br />
    <div ng-view></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/restangular")
    @Scripts.Render("~/bundles/app")
</body>
</html>