﻿<div class="container-inner">

    <div style="text-align: center">
        <button class="btn btn-primary" ng-click="homeCtrl.back()" ng-show="homeCtrl.showResults">
            BACK
        </button>

        <div ng-show="!homeCtrl.showResults">
            <form class="form-inline" name="settingsForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h2>NUMBER OF WINNERS: </h2>
                            <input type="number" class="form-control" id="numberofwinners"
                                   name="numberofwinners" ng-model="homeCtrl.numberOfWinners" min="1"
                                   style="font-size: 45px; height: 85px;">
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div>
                <button class="btn btn-primary" ng-click="homeCtrl.getWinners()"
                        ng-disabled="!settingsForm.$valid"
                        style="font-size: 30px">
                    G O  !
                </button>
            </div>
        </div>

        <div ng-show="homeCtrl.showResults">
            <div>
                <span ng-bind="homeCtrl.centerMessage" style="font-weight: bold; color: #428BCA; font-size: 40px"></span>
            </div>
            <br />
            <div><i class="fa fa-refresh fa-spin fa-4x" ng-show="homeCtrl.loading"></i></div>
            <div ng-repeat="winner in homeCtrl.winners" ng-show="homeCtrl.winners.length > 0" style="margin: 5px 45px;">
                <div class="panel panel-success" style="text-align: center; border-width: 5px">
                    <div class="panel-heading" style="padding: 2px 15px">
                        <div class="panel-title" ng-bind="winner.name"
                             style="text-transform: uppercase; font-weight: bold; font-size: 55px">Panel title</div>
                    </div>
                    <div class="panel-body">
                        <div ng-bind="winner.company" style="text-transform: uppercase; font-weight: bold; font-size: 30px"></div>
                        <div ng-bind="winner.email" style="text-transform: uppercase; font-weight: bold; font-size: 30px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>