﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-inner {
    background-color: #fff;
    border: 1px solid #cacaca;
    -webkit-box-shadow: 0 0 8px #cacaca;
    -moz-box-shadow: 0 0 8px #cacaca;
    box-shadow: 0 0 8px #cacaca;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
}
